.home_div{
    height: 100vh;
    width: 100vw;
    /* border-radius: 15px; */
    /* overflow: hidden; */
}
.video_div_logo_navbar{
    /* position: relative; */
}
.video_tag{
    height: 100vh;
    width: 100vw;
    object-fit: cover; 
    /* position: relative; */
}

.logo_div{
    /* border: 1px solid red; */
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 10%;
    position: absolute;
    top: 1%;
    left: 45%;
}
.logo{
    position: absolute;
    height: 100% !important;
    width: 100% !important;
    z-index: 1;
}